*{
	padding: 0px;
	margin: 0px;
}
.navbar-header{
    height: 70px;
}
.hero-section{
	width: 100%;
	height: 100vh;
	background-image: url(../img/taxi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
/*.principio{
	background-color: orange;
	margin-top: 50px;

}*/
.columna1{
	margin-top: 150px;
	height: 40vh;
	background-color: orange;
	color: white;
}
.texto1{
	margin-left: 1vw;
	font-size: 1vw;/**/
}
.texto1 h1{
	font-size: 2vw;
}
.registrate a{
	color: white;
}
.registrate a:hover{
	color: red;
	text-decoration: none;
}
.linea {
	margin-top: 2vh;
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: center;
}
.linea hr{
	width: 12vw;
	height: 10px;
}
.button{
	margin-top: 2.5vh;
	color: black;
}
.button button{
	width: 15vw;
	height: 5vh;
	border-radius: 5px;
	font-weight: bold;
	background-color:white;
	border-color: transparent;
}
/*Seccion 2*/
#cel-descarga{
	background-color: orange;
	height: 91vh; 
}
.columna2{
	border: 1px solid white;
	margin-top: 30px;
	height: 83vh;
	display: flex;
}
.celular{
	margin-top: 15vh;
	margin-left: 5vw;
}
.texto2{
	margin-top: 10vh;
	margin-left: 6vw;
	font-size: 1vw;
	color: white;
}
.informacion{
	width: 29vw;
	color: white;
}
/*seccion 3*/
.conduciendo{
	width: 100%;
	height: 91vh;
	background-image: url(../img/conduce.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
.columna3{
	height: 40vh;
	color: white;
}
.texto3{
	font-size: 1vw;/**/
	background-color: rgba(37,35,29,0.72);
	height: 40vh;
	width: 31.9vw;
	margin-top:-0.1vw
}
.text-conduce{
	font-size: 2vw;
	padding: 20px;
	width: 100%;
	font-size: 2vw;
}
.button2{
	margin-top: 2.5vh;
	color: black;
	margin-left: 20px;
}
.button2 button{
	width: 15vw;
	height: 5vh;
	border-radius: 5px;
	font-weight: bold;
	background-color:orange;
	border-color: transparent;
}
/*Seccion Tarifas*/
#tarifas{
	background-color: orange;
	height: 91vh; 
}

.columnaTarifa1, .columnaTarifa2{
	/*border: 5px solid yellow;*/
	height: 80vh;
	color: white;
	margin-top: 50px;	
}
input{
	border-radius: 10px;
	width: 50%;
	height: 5vh;
	background-color: transparent;
}
.consulta-tarifas{
	margin-top: 50px;
	margin-left: 50px;
}
.button3{
	margin-top: 6vw;
	margin-left: 120px;
	color: black;
	width: 25%;
	height: 5vh;
	background-color: white;
	border-radius: 3px;
	border-color: transparent;
	font-size: 1vw;
}
/*footer*/
.footer{
	height: 70vh;
	background-color: green;
}

@media (min-width: 100px) and (max-width: 992px) {
	.columna1{
	margin-left: 50%;
	}
	.texto1{
	margin-left: 1vw;
	font-size: 1vw;/**/
	margin-top: 8%;
	}
	
}